body {
	background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1610/Cute_gray_cat_eyes-Animal_High_Quality_Wallpaper_1366x768.jpg');
background-size: cover;
}
h1

{
color : white;


}
p
{
color : white;
}